<mat-progress-bar mode="indeterminate" *ngIf="isLoadingInvestmentPeriods" class="app-progress-bar"></mat-progress-bar>

<mat-card class="mat-elevation-z0">
  <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch">

    <h3>Thông tin đầu tư theo phiên</h3>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end stretch">
      <button mat-raised-button [routerLink]="['/investments', VIEW_TYPES.TRADING]"
              [color]="getViewType() == VIEW_TYPES.TRADING ? 'primary' : ''">
        Đang giao dịch
      </button>

      <button mat-raised-button [routerLink]="['/investments', VIEW_TYPES.FINISHED]"
              [color]="getViewType() == VIEW_TYPES.FINISHED ? 'primary' : ''">
        Đã kết thúc
      </button>

      <button mat-raised-button [routerLink]="['/investments', VIEW_TYPES.ALL]"
              [color]="getViewType() == VIEW_TYPES.ALL ? 'primary' : ''">
        Tất cả các phiên
      </button>
    </div>
  </mat-card-content>
</mat-card>

<div class="responsive-table">
  <table mat-table multiTemplateDataRows
         [dataSource]="investmentPeriods.content">

    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef rowspan="2"><h4>Mã</h4></th>
      <td mat-cell *matCellDef="let row">
        <b>{{row.stock.code}}</b>
      </td>

      <td mat-footer-cell *matFooterCellDef>
        <b>Tổng</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="buyColumns">
      <th mat-header-cell *matHeaderCellDef colspan="4"><h4>Giao dịch mua</h4></th>
    </ng-container>

    <ng-container matColumnDef="sellColumns">
      <th mat-header-cell *matHeaderCellDef colspan="5"><h4>Giao dịch bán</h4></th>
    </ng-container>

    <ng-container matColumnDef="holdColumns">
      <th mat-header-cell *matHeaderCellDef colspan="3"><h4>Đang giữ</h4></th>
    </ng-container>

    <ng-container matColumnDef="revenueColumns">
      <th mat-header-cell *matHeaderCellDef colspan="3"><h4>Lợi nhuận</h4></th>
    </ng-container>

    <ng-container matColumnDef="tradingTimeColumns">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="calTradingTimeColspan()"><h4>Chu kỳ đầu tư</h4></th>
    </ng-container>

    <ng-container matColumnDef="buyQuantity">
      <th mat-header-cell *matHeaderCellDef>KL</th>
      <td mat-cell *matCellDef="let row">{{row.buyQuantity | number}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="buyAvgPrice">
      <th mat-header-cell *matHeaderCellDef>Giá</th>
      <td mat-cell *matCellDef="let row">{{row.buyAvgPrice | price}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="buyFee">
      <th mat-header-cell *matHeaderCellDef>Phí</th>
      <td mat-cell *matCellDef="let row">{{row.buyFee | fee}}</td>
      <td mat-footer-cell *matFooterCellDef>
        <b>{{investmentPeriodService.getTotalBuyFee(investmentPeriods.content) | number}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="buyMoney">
      <th mat-header-cell *matHeaderCellDef>Vốn</th>
      <td mat-cell *matCellDef="let row">{{row.buyMoney | money}}</td>
      <td mat-footer-cell *matFooterCellDef>
        <b>{{investmentPeriodService.getTotalBuyMoney(investmentPeriods.content) | number}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="sellQuantity">
      <th mat-header-cell *matHeaderCellDef>KL</th>
      <td mat-cell *matCellDef="let row">{{row.sellQuantity | number}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="sellAvgPrice">
      <th mat-header-cell *matHeaderCellDef>Giá</th>
      <td mat-cell *matCellDef="let row">{{row.sellAvgPrice | price}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="sellFee">
      <th mat-header-cell *matHeaderCellDef>Phí</th>
      <td mat-cell *matCellDef="let row">{{row.sellFee | fee}}</td>
      <td mat-footer-cell *matFooterCellDef>
        <b>{{investmentPeriodService.getTotalSellFee(investmentPeriods.content) | number}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="sellTax">
      <th mat-header-cell *matHeaderCellDef>Thuế</th>
      <td mat-cell *matCellDef="let row">{{row.sellTax | fee}}</td>
      <td mat-footer-cell *matFooterCellDef>
        <b>{{investmentPeriodService.getTotalSellTax(investmentPeriods.content) | number}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="sellMoney">
      <th mat-header-cell *matHeaderCellDef>Tiền</th>
      <td mat-cell *matCellDef="let row">{{row.sellMoney | money}}</td>
      <td mat-footer-cell *matFooterCellDef>
        <b>{{investmentPeriodService.getTotalSellMoney(investmentPeriods.content) | number}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="holdQuantity">
      <th mat-header-cell *matHeaderCellDef>KL</th>
      <td mat-cell *matCellDef="let row">{{investmentPeriodService.calcHoldQuantity(row) | number}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="latestPrice">
      <th mat-header-cell *matHeaderCellDef>Giá TT</th>
      <td mat-cell *matCellDef="let row">{{row.stock.price | number}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="holdMoney">
      <th mat-header-cell *matHeaderCellDef>Tiền UT</th>
      <td mat-cell *matCellDef="let row">{{investmentPeriodService.calcHoldMoney(row) | money}}</td>
      <td mat-footer-cell *matFooterCellDef>
        <b>{{investmentPeriodService.getTotalHoldMoney(investmentPeriods.content) | number}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="netRevenue">
      <th mat-header-cell *matHeaderCellDef>Ròng</th>
      <td mat-cell *matCellDef="let row">{{investmentPeriodService.calcNetRevenue(row) | money}}</td>
      <td mat-footer-cell *matFooterCellDef>
        <b>{{investmentPeriodService.getTotalNetRevenue(investmentPeriods.content) | number}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="grossRevenue">
      <th mat-header-cell *matHeaderCellDef>Gộp</th>
      <td mat-cell *matCellDef="let row">{{investmentPeriodService.calcGrossRevenue(row) | money}}</td>
      <td mat-footer-cell *matFooterCellDef>
        <b>{{investmentPeriodService.getTotalGrossRevenue(investmentPeriods.content) | number}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="roiPercentage">
      <th mat-header-cell *matHeaderCellDef>ROI</th>
      <td mat-cell *matCellDef="let row">{{investmentPeriodService.calcROIPercentage(row) | number}}</td>
      <td mat-footer-cell *matFooterCellDef>
        <b>{{investmentPeriodService.getTotalROIPercentage(investmentPeriods.content) | number}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="startedOn">
      <th mat-header-cell *matHeaderCellDef>Bắt đầu</th>
      <td mat-cell *matCellDef="let row">{{row.startedOn | date}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="endedOn">
      <th mat-header-cell *matHeaderCellDef>Kết thúc</th>
      <td mat-cell *matCellDef="let row">{{row.endedOn | date}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="totalPeriod">
      <th mat-header-cell *matHeaderCellDef>Thời gian</th>
      <td mat-cell *matCellDef="let row">{{investmentPeriodService.calcTotalDays(row) | number}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="disclaimer">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="calcFullColspan()">
        <ul>
          <li><b>Giá mua</b>/<b>giá bán</b> được tính giá trị trung bình trên toàn bộ giao dịch mua/bán của phiên đầu tư</li>
          <li><b>Giá TT</b> giá hiện tại trên sàn</li>
          <li><b>Tiền UT</b> được tính ước tính theo giá TT</li>
          <li><b>Lợi nhuận ròng</b> được tính theo khối lượng các giao dịch bán - phí giao dịch</li>
          <li><b>Lợi nhuận gộp</b> được tính bằng tiền bán - tiền vốn - phí giao dịch</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedTransactions">
      <td mat-cell
          *matCellDef="let row"
          [attr.colspan]="calcFullColspan()">

        <mat-card class="mat-elevation-z1 padding-0"
                  *ngIf="getTransactionPageResponse(row.id) as transactionPageResponse">

          <mat-progress-bar mode="indeterminate" *ngIf="isLoadingTransactions[row.id]"></mat-progress-bar>

          <table mat-table
                 *ngIf="isRowExpanded(row)"
                 [dataSource]="transactionPageResponse.content">

            <ng-container matColumnDef="stockTitle">
              <th mat-header-cell *matHeaderCellDef colspan="8">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <h5>{{row.stock.title}}</h5>

                  <button mat-button
                          *ngIf="canAddTransaction(row)"
                          (click)="onCreateTransactionClicked(row)">
                    Thêm giao dịch
                  </button>
                </div>
              </th>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Giao dịch</th>
              <td mat-cell *matCellDef="let transaction">{{getTransactionType(transaction)}}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>KL</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.quantity | number}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Giá</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.price | number}} </td>
            </ng-container>

            <ng-container matColumnDef="money">
              <th mat-header-cell *matHeaderCellDef>Tiền</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.money | number}}</td>
            </ng-container>

            <ng-container matColumnDef="fee">
              <th mat-header-cell *matHeaderCellDef>Phí</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.fee | number}}</td>
            </ng-container>

            <ng-container matColumnDef="tax">
              <th mat-header-cell *matHeaderCellDef>Thuế TNCN</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.tax | number}}</td>
            </ng-container>

            <ng-container matColumnDef="transactedOn">
              <th mat-header-cell *matHeaderCellDef>Thời gian</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.transactedOn | date}}</td>
            </ng-container>

            <ng-container matColumnDef="editTransaction">
              <th mat-header-cell *matHeaderCellDef>Thao tác</th>
              <td mat-cell *matCellDef="let transaction">
                <button mat-button
                        *ngIf="canEditTransaction(row)"
                        (click)="onEditTransactionClicked(row, transaction)">
                  Sửa
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="totalFees">
              <td mat-footer-cell *matFooterCellDef colspan="8">
                <b>Tổng phí giao dịch: {{calcTotalFeesForInvestmentPeriod(row) | number}}</b>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['stockTitle']"></tr>
            <tr mat-header-row *matHeaderRowDef="calcDisplayedTransactionColumns()"></tr>
            <tr mat-row *matRowDef="let transaction; columns: calcDisplayedTransactionColumns();"></tr>
            <tr mat-footer-row *matFooterRowDef="['totalFees']"></tr>
          </table>

          <mat-paginator [length]="transactionPageResponse.totalElements"
                         *ngIf="transactionPageResponse.totalPages > 1"
                         [pageSize]="transactionPageSize"
                         (page)="onTransactionPaginatorChanged(row, $event.pageIndex)"
                         [showFirstLastButtons]="true">

          </mat-paginator>
        </mat-card>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="calcDisplayedHeaderColumns()"></tr>

    <tr mat-header-row *matHeaderRowDef="calcDisplayedSubHeaderColumns(); sticky: true"></tr>

    <tr mat-row
        *matRowDef="let row; columns: calcDisplayedColumns();"
        [class.expanded]="isRowExpanded(row)"
        (click)="onInvestmentPeriodRowClicked(row)"
        class="investment-period-row">
    </tr>

    <tr mat-row
        *matRowDef="let row; columns: ['expandedTransactions'];"
        [@expandedTransactions]="isRowExpanded(row) ? 'expanded' : 'collapsed'"
        style="overflow: hidden">
    </tr>

    <tr mat-footer-row *matFooterRowDef="calcDisplayedColumns()"></tr>
    <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
  </table>
</div>

<mat-paginator #investmentPeriodsPaginator
               [length]="investmentPeriods.totalElements"
               [pageSize]="investmentPeriodPageSize"
               [showFirstLastButtons]="true">
</mat-paginator>
