<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <mat-radio-group value="{{viewType}}" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="none">
      <mat-radio-button value="1">Đang giao dịch&nbsp;</mat-radio-button>
      <mat-radio-button value="2">Đã kết thúc&nbsp;</mat-radio-button>
      <mat-radio-button value="3">Tất cả các phiên&nbsp;</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>

<div class="loading-shade" *ngIf="isLoadingInvestmentPeriods">
  <mat-spinner></mat-spinner>
</div>

<div class="responsive-table">
  <table mat-table multiTemplateDataRows
         [dataSource]="investmentPeriodPageResponse.content">

    <ng-container matColumnDef="stock" sticky>
      <th mat-header-cell *matHeaderCellDef rowspan="2"><h4>Mã</h4></th>
      <td mat-cell *matCellDef="let row">
        <b>{{row.stock.code}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="buyColumns">
      <th mat-header-cell *matHeaderCellDef colspan="4"><h4>Giao dịch mua</h4></th>
    </ng-container>

    <ng-container matColumnDef="sellColumns">
      <th mat-header-cell *matHeaderCellDef colspan="5"><h4>Giao dịch bán</h4></th>
    </ng-container>

    <ng-container matColumnDef="holdColumns">
      <th mat-header-cell *matHeaderCellDef colspan="2"><h4>Đang giữ</h4></th>
    </ng-container>

    <ng-container matColumnDef="revenueColumns">
      <th mat-header-cell *matHeaderCellDef colspan="3"><h4>Lợi nhuận</h4></th>
    </ng-container>

    <ng-container matColumnDef="tradingTimeColumns">
      <th mat-header-cell *matHeaderCellDef colspan="3"><h4>Chu kỳ đầu tư</h4></th>
    </ng-container>

    <ng-container matColumnDef="buyQuantity">
      <th mat-header-cell *matHeaderCellDef>KL</th>
      <td mat-cell *matCellDef="let row">{{row.buyQuantity | number}}</td>
    </ng-container>

    <ng-container matColumnDef="buyAvgPrice">
      <th mat-header-cell *matHeaderCellDef>Giá</th>
      <td mat-cell *matCellDef="let row">{{row.buyAvgPrice | number}}</td>
    </ng-container>

    <ng-container matColumnDef="buyFee">
      <th mat-header-cell *matHeaderCellDef>Phí</th>
      <td mat-cell *matCellDef="let row">{{row.buyFee | number}}</td>
    </ng-container>

    <ng-container matColumnDef="buyMoney">
      <th mat-header-cell *matHeaderCellDef>Vốn</th>
      <td mat-cell *matCellDef="let row">{{row.buyMoney | number}}</td>
    </ng-container>

    <ng-container matColumnDef="sellQuantity">
      <th mat-header-cell *matHeaderCellDef>KL</th>
      <td mat-cell *matCellDef="let row">{{row.sellQuantity | number}}</td>
    </ng-container>

    <ng-container matColumnDef="sellAvgPrice">
      <th mat-header-cell *matHeaderCellDef>Giá</th>
      <td mat-cell *matCellDef="let row">{{row.sellAvgPrice | number}}</td>
    </ng-container>

    <ng-container matColumnDef="sellFee">
      <th mat-header-cell *matHeaderCellDef>Phí</th>
      <td mat-cell *matCellDef="let row">{{row.sellFee | number}}</td>
    </ng-container>

    <ng-container matColumnDef="sellTax">
      <th mat-header-cell *matHeaderCellDef>Thuế</th>
      <td mat-cell *matCellDef="let row">{{row.sellTax | number}}</td>
    </ng-container>

    <ng-container matColumnDef="sellMoney">
      <th mat-header-cell *matHeaderCellDef>Tiền</th>
      <td mat-cell *matCellDef="let row">{{row.sellMoney | number}}</td>
    </ng-container>

    <ng-container matColumnDef="holdQuantity">
      <th mat-header-cell *matHeaderCellDef>KL</th>
      <td mat-cell *matCellDef="let row">{{calcHoldQuantity(row) | number}}</td>
    </ng-container>

    <ng-container matColumnDef="holdMoney">
      <th mat-header-cell *matHeaderCellDef>Tiền</th>
      <td mat-cell *matCellDef="let row">{{calcHoldMoney(row) | number}}</td>
    </ng-container>

    <ng-container matColumnDef="rawRevenue">
      <th mat-header-cell *matHeaderCellDef>Ròng</th>
      <td mat-cell *matCellDef="let row">{{calRawRevenue(row) | number}}</td>
    </ng-container>

    <ng-container matColumnDef="realRevenue">
      <th mat-header-cell *matHeaderCellDef>Gộp</th>
      <td mat-cell *matCellDef="let row">{{calcRealRevenue(row) | number}}</td>
    </ng-container>

    <ng-container matColumnDef="revenueRate">
      <th mat-header-cell *matHeaderCellDef>Ròng (%)</th>
      <td mat-cell *matCellDef="let row">{{calcRateOfRawRevenue(row) | number}}</td>
    </ng-container>

    <ng-container matColumnDef="startedOn">
      <th mat-header-cell *matHeaderCellDef>Bắt đầu</th>
      <td mat-cell *matCellDef="let row">{{row.startedOn | date}}</td>
    </ng-container>

    <ng-container matColumnDef="endedOn">
      <th mat-header-cell *matHeaderCellDef>Kết thúc</th>
      <td mat-cell *matCellDef="let row">{{row.endedOn | date}}</td>
    </ng-container>

    <ng-container matColumnDef="totalPeriod">
      <th mat-header-cell *matHeaderCellDef>Thời gian</th>
      <td mat-cell *matCellDef="let row">{{calcTotalDays(row) | number}}</td>
    </ng-container>

    <ng-container matColumnDef="disclaimer">
      <td mat-footer-cell *matFooterCellDef colspan="18">
        <ul>
          <li><b>Giá mua</b>/<b>giá bán</b> được tính giá trị trung bình trên toàn bộ giao dịch mua/bán của phiên đầu tư</li>
          <li><b>Tiền còn lại</b> được tính dự kiến theo giá bán hiện tại</li>
          <li><b>Lợi nhuận ròng</b> được tính dựa trên giao dịch bán, không tính cổ tức</li>
          <li><b>Lợi nhuận gộp</b> được tính dựa trên giao dịch bán và tính cổ tức</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedTransactions">
      <td mat-cell
          *matCellDef="let row"
          colspan="18">

        <mat-card class="mat-elevation-z1 padding-0"
                  *ngIf="getTransactionPageResponse(row.id) as transactionPageResponse">
          <div class="loading-shade" *ngIf="isLoadingTransactions[row.id]">
            <mat-spinner></mat-spinner>
          </div>

          <table mat-table
                 *ngIf="isRowExpanded(row)"
                 [dataSource]="transactionPageResponse.content">

            <ng-container matColumnDef="stockTitle">
              <th mat-header-cell *matHeaderCellDef colspan="8">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <h5>{{row.stock.title}}</h5>

                  <button mat-button
                          *ngIf="isTransactionEditable(row)"
                          (click)="onCreateTransactionClicked(row)">
                    Thêm giao dịch
                  </button>
                </div>
              </th>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Giao dịch</th>
              <td mat-cell *matCellDef="let transaction">{{getTransactionType(transaction)}}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>KL</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.quantity | number}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Giá</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.price | number}} </td>
            </ng-container>

            <ng-container matColumnDef="money">
              <th mat-header-cell *matHeaderCellDef>Tiền</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.money | number}}</td>
            </ng-container>

            <ng-container matColumnDef="fee">
              <th mat-header-cell *matHeaderCellDef>Phí</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.fee | number}}</td>
            </ng-container>

            <ng-container matColumnDef="tax">
              <th mat-header-cell *matHeaderCellDef>Thuế TNCN</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.tax | number}}</td>
            </ng-container>

            <ng-container matColumnDef="transactedOn">
              <th mat-header-cell *matHeaderCellDef>Thời gian</th>
              <td mat-cell *matCellDef="let transaction">{{transaction.transactedOn | date}}</td>
            </ng-container>

            <ng-container matColumnDef="editTransaction">
              <th mat-header-cell *matHeaderCellDef>Thao tác</th>
              <td mat-cell *matCellDef="let transaction">
                <button mat-button
                        *ngIf="isTransactionEditable(row)"
                        (click)="onEditTransactionClicked(row, transaction)">
                  Sửa
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['stockTitle']"></tr>
            <tr mat-header-row *matHeaderRowDef="displayedTransactionColumns"></tr>
            <tr mat-row *matRowDef="let transaction; columns: displayedTransactionColumns;"></tr>
          </table>

          <mat-paginator [length]="transactionPageResponse.totalElements"
                         *ngIf="transactionPageResponse.totalPages > 1"
                         [pageSize]="transactionPageSize"
                         (page)="loadTransitionPage(row, $event.pageIndex, true)"
                         [showFirstLastButtons]="true">

          </mat-paginator>
        </mat-card>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedHeaderColumns"></tr>

    <tr mat-header-row *matHeaderRowDef="displayedSubHeaderColumns"></tr>

    <tr mat-row
        *matRowDef="let row; columns: displayedValueColumns;"
        [class.expanded]="isRowExpanded(row)"
        (click)="onInvestmentPeriodRowClicked(row)"
        class="investment-period-row">
    </tr>

    <tr mat-row
        *matRowDef="let row; columns: ['expandedTransactions'];"
        [@expandedTransactions]="isRowExpanded(row) ? 'expanded' : 'collapsed'"
        style="overflow: hidden">
    </tr>

    <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
  </table>
</div>

<mat-paginator #investmentPeriodsPaginator
               [length]="investmentPeriodPageResponse.totalElements"
               [pageSize]="investmentPeriodPageSize"
               [showFirstLastButtons]="true">
</mat-paginator>
