<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button  *appShowAuthed="true"
            (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{title}}</span>

    <div fxShow="true" fxHide.lt-md>
      <button *appShowAuthed="true" mat-button routerLink="/">Tổng quan</button>
      <button *appShowAuthed="true" mat-button routerLink="/stock">Cổ phiếu</button>
      <button *appShowAuthed="true" mat-button routerLink="/investmentPeriod/1">Phiên đầu tư</button>
      <button *appShowAuthed="true" mat-button routerLink="/topup">Tiền vốn</button>

      <button *appShowAuthed="true" mat-button (click)="onCreateTransactionClicked()">Tạo giao dịch</button>
    </div>

    <span class="flex-space"></span>

    <div fxShow="true" fxHide.lt-md>
      <span *appShowAuthed="true">Xin chào {{currentUser.email}}</span>
      <button *appShowAuthed="true" mat-button (click)="onLogoutClicked()">Thoát</button>
    </div>

    <button *appShowAuthed="true" mat-button
            fxShow="true" fxHide.gt-sm
            (click)="onCreateTransactionClicked()">Tạo giao dịch</button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list *appShowAuthed="true">
      <h3 mat-subheader>Xin chào {{currentUser.email}}</h3>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/">Tổng quan</a>
      <a mat-list-item routerLink="/stock">Cổ phiếu</a>
      <a mat-list-item routerLink="/investmentPeriod/1">Phiên đầu tư</a>
      <a mat-list-item routerLink="/topup">Tiền vốn</a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="." (click)="onLogoutClicked()">Thoát</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


