.aui-page-focused .aui-page-panel-content h2 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px
}

.aui-page-focused .aui-page-panel-content .buttons-container {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px
}

.aui-page-focused .aui-page-panel-content .buttons-container fieldset .checkbox>label {
  color: #707070
}

.aui-page-focused .aui-page-panel-content .buttons-container fieldset+.buttons {
  padding-top: 15px
}
