<div fxLayout="row" fxLayoutAlign="center center" >
  <mat-card class="mat-elevation-z8 mat-card-login">
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="mat-form">

        <h2>Đăng nhập</h2>

        <mat-progress-bar mode="indeterminate" *ngIf="isSubmitting"></mat-progress-bar>

        <div class="aui-message aui-message-warning" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <br/>

        <mat-form-field>
          <input matInput
                 formControlName="username"
                 required
                 placeholder="Email" />

          <mat-icon matSuffix>email</mat-icon>

          <mat-error *ngIf="loginForm.controls['username'].hasError('email') && !loginForm.controls['username'].hasError('required')">
            Hãy nhập email hợp lệ
          </mat-error>
          <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
            Hãy nhập email
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="password"
                 required
                 type="password"
                 placeholder="Mật khẩu" />

          <mat-icon matSuffix>security</mat-icon>

          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Hãy nhập mật khẩu
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-around center">
          <a mat-button routerLink="">Đăng ký</a>
          <button mat-raised-button color="primary" name="Login" type="submit" class="fl-rght">Đăng nhập</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
