<form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="aui">
  <div class="form-body">
    <h2>
      Đăng nhập hệ thống
    </h2>

    <div *ngIf="(loginForm.controls['username'].errors && !loginForm.controls['username'].pristine) ||
     (loginForm.controls['password'].errors && !loginForm.controls['password'].pristine)" class="aui-message aui-message-warning">
      <p class="title">
        <span class="aui-icon icon-error"></span>
        <strong>Thông tin không hợp lệ!</strong>
      </p>

      <ul>
        <li [hidden]="!(loginForm.controls['username'].errors && !loginForm.controls['username'].pristine)">Hãy nhập email</li>
        <li [hidden]="!(loginForm.controls['password'].errors && !loginForm.controls['password'].pristine)">Hãy nhập mật khẩu</li>
      </ul>
    </div>

    <div class="field-group">
      <label for="username">Email<span class="aui-icon icon-required"> required</span></label>

      <input
        id="username"
        formControlName="username"
        required
        type="text"
        placeholder="Ví dụ: pim@gmail.com"
        class="text"/>
    </div>

    <div class="field-group">
      <label for="password">Mật khẩu<span class="aui-icon icon-required"> required</span></label>

      <input
        id="password"
        name="password"
        formControlName="password"
        required
        type="password"
        class="text"
        autocomplete="off" />
    </div>

    <div class="buttons-container form-footer">
      <div class="buttons">
        <input class="aui-button aui-button-primary" name="Login" type="submit" value="Đăng nhập">

        <a class="aui-button aui-button-link cancel" routerLink="" title="">Sign Up</a>
      </div>
    </div>

  </div>
</form>
