<h2 mat-dialog-title>{{transaction ? 'Sửa giao dịch ' + transaction.stock.code + ' ngày ' + (transaction.transactedOn | date) : 'Tạo giao dịch mới'}}</h2>

<mat-dialog-content class="mat-typography">
  <div class="loading-shade" *ngIf="isSubmitting">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="transactionForm" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="aui-message aui-message-warning" *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div>

    <div fxFlexFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
      <mat-form-field fxFlex="50" *ngIf="!isExistedTransaction">
        <input
          matInput
          [readonly]="isExistedTransaction"
          type="text"
          placeholder="Mã cổ phiếu"
          formControlName="stock"
          aria-label="Number"
          [matAutocomplete]="autoStock"
          (click)="$event.target.select()"
          autocomplete="off"
          required />

        <mat-autocomplete autoActiveFirstOption="true"
                          #autoStock="matAutocomplete"
                          [displayWith]="displayStockOption">
          <mat-option *ngFor="let item of stocks | async" [value]="item">
            {{item.code}}-{{item.title}}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <mat-form-field fxFlex="{{isExistedTransaction ? 100 : 40}}">
        <mat-select placeholder="Kiểu giao dịch"
                    formControlName="type"
                    (selectionChange)="onTransactionTypeChanged($event)"
                    required>
          <mat-option *ngFor="let item of transactionTypes | async" [value]="item.id">
            {{item.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <mat-form-field *ngIf="displayQuantityInputField()">
      <input matInput
             type="number"
             formControlName="quantity"
             (click)="$event.target.select()"
             [required]="displayQuantityInputField()"
             autocomplete="off"
             placeholder="Khối lượng" />
    </mat-form-field>

    <mat-form-field *ngIf="displayPriceInputField()">
      <input matInput
             type="number"
             formControlName="price"
             (click)="$event.target.select()"
             [required]="displayPriceInputField()"
             autocomplete="off"
             placeholder="Giá" />

      <span matSuffix>x1000</span>
    </mat-form-field>

    <mat-form-field *ngIf="displayMoneyInputField()">
      <input matInput
             type="number"
             formControlName="money"
             (click)="$event.target.select()"
             [required]="displayMoneyInputField()"
             autocomplete="off"
             placeholder="Tiền" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="transactedOn"
        [matDatepicker]="transactedOnDatepicker"
        required
        (click)="$event.target.select()"
        placeholder="Ngày giao dịch" />

      <mat-datepicker-toggle matSuffix [for]="transactedOnDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #transactedOnDatepicker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCloseDialogClicked()">Đóng</button>
  <button mat-raised-button color="primary" (click)="onSaveTransactionClicked()">Lưu giao dịch</button>
</mat-dialog-actions>
