<div id="page">


  <section id="content" role="main">
    <header class="aui-page-header">
      <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
          <h1>Default page layout</h1>
        </div>
      </div>
    </header>
    <nav class="aui-navgroup aui-navgroup-horizontal">
      <div class="aui-navgroup-inner">
        <div class="aui-navgroup-primary">
          <ul class="aui-nav">
            <li><a href="http://example.com">Nav item</a></li>
          </ul>
        </div>
        <div class="aui-navgroup-secondary">
          <ul class="aui-nav">
            <li><a href="http://example.com/">Nav item</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="aui-page-panel">
      <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">

          <router-outlet></router-outlet>

        </section>
      </div>
    </div>
  </section>

  <app-layout-footer></app-layout-footer>

</div>
