.aui-datepicker-dialog {
  z-index: 9999 !important;
}

.aui-dropdown2 {
  z-index: 9999 !important;
}

.ng-dropdown-panel {
  z-index: 9999 !important;
}

.cdk-overlay-container {
  z-index: 9999 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

form.mat-form {
  display: flex;
  flex-direction: column;
}

.fl-lft {
  float: left;
}

.fl-rght {
  float: right;
}

.aui-dialog2-footer {
  height: 59px;
}

.flex-space {
  flex: 1 1 auto;
}
