input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.app-content {
  margin-top: 10px;
}

.mat-form {
  display: flex;
  flex-direction: column;
}

.fl-lft {
  float: left;
}

.fl-rght {
  float: right;
}

.flex-space {
  flex: 1 1 auto;
}

.mat-table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 800px) {
  .responsive-table {
    overflow-x: auto !important;
  }
}

