<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>{{title}} &nbsp;</span>

  <button *appShowAuthed="true" mat-button routerLink="/investmentPeriod">Tổng quan</button>
  <button *appShowAuthed="true" mat-button routerLink="/investmentPeriod">Cổ phiếu</button>
  <button *appShowAuthed="true" mat-button routerLink="/investmentPeriod">Phiên đầu tư</button>

  <button *appShowAuthed="true" mat-button (click)="onCreateTransactionClicked()">Tạo giao dịch</button>

  <span class="flex-space"></span>

  <button *appShowAuthed="true" mat-button>Thoát</button>

</mat-toolbar>
