<header id="header" role="banner" xmlns="http://www.w3.org/1999/html">
  <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
    <div class="aui-header-primary">
      <h1 id="logo" class="aui-header-logo aui-header-logo-textonly">

        <a routerLink="">
          <span class="aui-header-logo-device">{{title}}</span>
        </a>
      </h1>

      <ul *appShowAuthed="true" class="aui-nav">
        <li>
          <a href="#dropdown2-jira3" aria-owns="dropdown2-jira3" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-jira3">Menu</a>

          <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-jira3" style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
            <div class="aui-dropdown2-section">
              <ul>
                <li><a href="http://example.com/">Item 1</a></li>
                <li><a href="http://example.com/">Item 2</a></li>
                <li><a href="http://example.com/">Item 4</a></li>
                <li><a href="http://example.com/">Item 4</a></li>
                <li><a href="http://example.com/">Item 5</a></li>
              </ul>
            </div>
            <div class="aui-dropdown2-section">
              <ul>
                <li><a href="http://example.com/">Item 6</a></li>
                <li><a href="http://example.com/">Item 7</a></li>
              </ul>
            </div>
          </div>
        </li>

        <li>
          <a (click)="onClickCreateTransaction()" class="aui-button aui-button-primary">Tạo giao dịch</a>
        </li>
      </ul>
    </div>

    <div *appShowAuthed="true" class="aui-header-secondary">
      <ul class="aui-nav __skate">
        <li>
          <form action="/foo" method="post" class="aui-quicksearch">
            <label for="quicksearchid" class="assistive">Search</label>
            <input id="quicksearchid" class="search" type="text" placeholder="Search..." name="quicksearchname">
          </form>
        </li>
        <li><a href="#dropdown2-header8" aria-owns="dropdown2-header8" aria-haspopup="true" class="aui-dropdown2-trigger-arrowless aui-dropdown2-trigger" aria-controls="dropdown2-header8"><span class="aui-icon aui-icon-small aui-iconfont-help">Help</span></a>
          <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header8" style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
            <div class="aui-dropdown2-section">
              <ul>
                <li><a href="http://example.com/" class="active">Online help</a></li>
                <li><a href="http://example.com/">Keyboard shortcuts</a></li>
                <li><a href="http://example.com/">About</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="#dropdown2-header9" aria-owns="dropdown2-header9" aria-haspopup="true" class="aui-dropdown2-trigger-arrowless aui-dropdown2-trigger" aria-controls="dropdown2-header9">
          <div class="aui-avatar aui-avatar-small">
            <div class="aui-avatar-inner">
              <img src="images/avatar-16.png">
            </div>
          </div>
        </a>
          <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header9" style="display: none; top: 40px; min-width: 160px; left: 1213px;" aria-hidden="true">
            <div class="aui-dropdown2-section">
              <ul>
                <li><a href="http://example.com/" class="active">Profile</a></li>
                <li><a href="http://example.com/">Extensions</a></li>
              </ul>
            </div>
            <div class="aui-dropdown2-section">
              <ul>
                <li><a href="http://example.com/">Use Agile by default</a></li>
              </ul>
            </div>
            <div class="aui-dropdown2-section">
              <ul>
                <li><a href="http://example.com/">Log out {{currentUser.first_name}}</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

</header>

<section id="{{dialogId}}" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog"
         aria-hidden="true" data-aui-modal="true">
  <header class="aui-dialog2-header">
    <h2 class="aui-dialog2-header-main">Tạo giao dịch mới</h2>
    <div class="aui-dialog2-header-secondary">

    </div>
  </header>

  <div class="aui-dialog2-content">
    <form [formGroup]="transactionForm" class="mat-form">

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Mã cổ phiếu"
          formControlName="stock"
          aria-label="Number"
          [matAutocomplete]="autoStock"
          required>

        <mat-autocomplete autoActiveFirstOption
                          #autoStock="matAutocomplete"
                          [displayWith]="displayStockOption">
          <mat-option *ngFor="let item of stocks | async" [value]="item">
            {{item.code}}-{{item.title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Kiểu giao dịch" formControlName="type" required>
          <mat-option *ngFor="let item of transactionTypes | async" [value]="item.id">
            {{item.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="aui-group aui-group-split">
        <div class="aui-item">
          <mat-form-field>
            <input matInput
                   type="number"
                   formControlName="quantity"
                   required
                   placeholder="Khối lượng" />
          </mat-form-field>
        </div>

        <div class="aui-item">
          <mat-form-field>
            <input matInput
                   type="number"
                   formControlName="price"
                   required
                   placeholder="Giá" />

            <span matSuffix>x1000</span>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field>
        <input
          matInput
          formControlName="transactedOn"
          [matDatepicker]="transactedOnDatepicker"
          required
          placeholder="Ngày giao dịch" />

        <mat-datepicker-toggle matSuffix [for]="transactedOnDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #transactedOnDatepicker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>

  <footer class="aui-dialog2-footer">
    <div class="aui-dialog2-footer-actions">
      <button class="aui-button aui-button-primary" (click)="onClickSaveTransaction()">Lưu giao dịch</button>
      <button class="aui-button aui-button-link" (click)="hideDialog()">Đóng</button>
    </div>
    <div class="aui-dialog2-footer-hint">Bạn không thể sửa dữ liệu sau khi lưu</div>
  </footer>
</section>

