<mat-toolbar color="primary">
  <span>{{title}} &nbsp;</span>

  <button mat-button routerLink="/investmentPeriod">Phiên đầu tư</button>

  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button (click)="onClickCreateTransaction()">Tạo giao dịch</button>

  <span class="flex-space"></span>

  <button mat-button>Thoát</button>

</mat-toolbar>

<section id="{{dialogId}}" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog"
         aria-hidden="true" data-aui-modal="true">
  <header class="aui-dialog2-header">
    <h2 class="aui-dialog2-header-main">Tạo giao dịch mới</h2>
    <div class="aui-dialog2-header-secondary">

    </div>
  </header>

  <div class="aui-dialog2-content">
    <form [formGroup]="transactionForm" class="mat-form">

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Mã cổ phiếu"
          formControlName="stock"
          aria-label="Number"
          [matAutocomplete]="autoStock"
          required />

        <mat-autocomplete autoActiveFirstOption
                          #autoStock="matAutocomplete"
                          [displayWith]="displayStockOption">
          <mat-option *ngFor="let item of stocks | async" [value]="item">
            {{item.code}}-{{item.title}}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Kiểu giao dịch" formControlName="type" required>
          <mat-option *ngFor="let item of transactionTypes | async" [value]="item.id">
            {{item.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="aui-group aui-group-split">
        <div class="aui-item">
          <mat-form-field>
            <input matInput
                   type="number"
                   formControlName="quantity"
                   required
                   placeholder="Khối lượng" />
          </mat-form-field>
        </div>

        <div class="aui-item">
          <mat-form-field>
            <input matInput
                   type="number"
                   formControlName="price"
                   required
                   placeholder="Giá" />

            <span matSuffix>x1000</span>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field>
        <input
          matInput
          formControlName="transactedOn"
          [matDatepicker]="transactedOnDatepicker"
          required
          placeholder="Ngày giao dịch" />

        <mat-datepicker-toggle matSuffix [for]="transactedOnDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #transactedOnDatepicker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>

  <footer class="aui-dialog2-footer">
    <div class="aui-dialog2-footer-actions">
      <button mat-raised-button color="primary" (click)="onClickSaveTransaction()">
        Lưu giao dịch
      </button>
      &nbsp;
      <button mat-button color="primary" (click)="hideDialog()">Đóng</button>
    </div>
    <div class="aui-dialog2-footer-hint">Bạn không thể sửa dữ liệu sau khi lưu</div>
  </footer>
</section>

