<mat-progress-bar mode="indeterminate" *ngIf="isLoadingDashboards" class="app-progress-bar"></mat-progress-bar>

<mat-card class="mat-elevation-z0">
  <mat-card-content fxLayout="column">

    <div class="page-header">
      <h3>Dashboard</h3>
      <mat-divider></mat-divider>
    </div>

  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z3 responsive-table">
  <mat-card-content>
    <h3>Thông tin tổng quan</h3>

    <table mat-table
           [dataSource]="investmentSummary">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef><h4>Danh mục</h4></th>
        <td mat-cell *matCellDef="let row">
          <h5 *ngIf="row.isBold">
            {{row.title}}
          </h5>

          <span *ngIf="!row.isBold">
            {{row.title}}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef><h4>Tổng tiền</h4></th>
        <td mat-cell *matCellDef="let row">
          <h4 *ngIf="row.isBold">
            {{row.value | number}}
          </h4>

          <span *ngIf="!row.isBold">
            {{row.value | number}}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef><h4>Ghi chú</h4></th>
        <td mat-cell *matCellDef="let row">{{row.desc}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['title', 'value', 'desc']"></tr>

      <tr mat-row
          *matRowDef="let row; columns: ['title', 'value', 'desc'];"></tr>
    </table>
  </mat-card-content>
</mat-card>

<br/>

<mat-card class="mat-elevation-z3">
  <mat-card-content>
    <h3>Cổ phiếu đang giữ</h3>

    <div fxFlexFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
      <dx-pie-chart fxFlex="50"
                    title="Theo tiền vốn"
                    palette="Soft Pastel"
                    resolveLabelOverlapping="shift"
                    [dataSource]="dashboardData.holdingByCapitalStockChartData">
        <dxi-series argumentField="title"
                    valueField="value">
          <dxo-label [visible]="true"
                     [customizeText]="customizeLabel">
            <dxo-connector
              [visible]="true"
              [width]="1"></dxo-connector>
          </dxo-label>
        </dxi-series>
        <dxo-legend [visible]="false"></dxo-legend>
      </dx-pie-chart>

      <dx-pie-chart fxFlex="50"
                    title="Theo giá trị thị trường"
                    palette="Soft Pastel"
                    resolveLabelOverlapping="shift"
                    [dataSource]="dashboardData.holdingByMarketPriceStockChartData">
        <dxi-series argumentField="title"
                    valueField="value">
          <dxo-label [visible]="true"
                     [customizeText]="customizeLabel">
            <dxo-connector
              [visible]="true"
              [width]="1"></dxo-connector>
          </dxo-label>
        </dxi-series>
        <dxo-legend [visible]="false"></dxo-legend>
      </dx-pie-chart>
    </div>

    <dx-chart
      title="Tương quan tiền vốn và giá trị thị trường"
      [dataSource]="compareHoldStockChartData"
      [rotated]="true"
      [customizeLabel]="customizeHoldStockChartLabel">
      <dxi-series valueField="capitalValue" name="Giá vốn"></dxi-series>
      <dxi-series valueField="marketValue" name="Giá thị trường"></dxi-series>
      <dxo-common-series-settings
        argumentField="title"
        type="bar"
        hoverMode="allArgumentPoints"
        selectionMode="allArgumentPoints">
        <dxo-label
          [visible]="true">
        </dxo-label>
      </dxo-common-series-settings>
      <dxo-legend
        verticalAlignment="bottom"
        horizontalAlignment="center">
      </dxo-legend>
    </dx-chart>
  </mat-card-content>
</mat-card>

<br/>
