<mat-progress-bar mode="indeterminate" *ngIf="isLoadingDashboards" class="app-progress-bar"></mat-progress-bar>

<mat-card class="mat-elevation-z0">
  <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch">

    <h3>Dashboard</h3>

  </mat-card-content>
</mat-card>

<div class="responsive-table">
  <table mat-table
         [dataSource]="investmentSummary">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef><h4>Danh mục</h4></th>
      <td mat-cell *matCellDef="let row">
        <h5 *ngIf="row.isBold">
          {{row.title}}
        </h5>

        <span *ngIf="!row.isBold">
          {{row.title}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef><h4>Tổng tiền</h4></th>
      <td mat-cell *matCellDef="let row">
        <h4 *ngIf="row.isBold">
          {{row.value | number}}
        </h4>

        <span *ngIf="!row.isBold">
          {{row.value | number}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef><h4>Ghi chú</h4></th>
      <td mat-cell *matCellDef="let row">{{row.desc}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['title', 'value', 'desc']"></tr>

    <tr mat-row
        *matRowDef="let row; columns: ['title', 'value', 'desc'];"></tr>
  </table>
</div>
